<h2 mat-dialog-title>Edit Song</h2>
<mat-dialog-content class="mat-typography">
  <form class="row" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="col-12">
      <mat-label>Song Name</mat-label>
      <input matInput formControlName="name" required />
      <mat-error *ngIf="form.get('name')!.hasError('required')">
        Song Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col-12">
      <mat-label>Song Duration</mat-label>
      <input matInput formControlName="duration" required />
      <mat-error *ngIf="form.get('duration')!.hasError('required')">
        Song Duration is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col-12">
      <mat-label>Song Language</mat-label>
      <input matInput formControlName="language" required />
      <mat-error *ngIf="form.get('language')!.hasError('required')">
        Song Language is required
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial (click)="onSubmit()">Edit</button>
</mat-dialog-actions>
