<div class="sidenav">
  <div class="sidenav-topbar">
    <a [routerLink]="['/']">
      <h1>Music Mania</h1>
    </a>
  </div>
  <mat-nav-list class="side-nav-list">
    <!-- @for (nav of fillerNav; track nav) {
    <a mat-list-item routerLink=".">{{ nav }}</a>
    } -->

    <a
      mat-list-item
      class="list-item"
      [routerLink]="['/artists']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Artists
    </a>
    <a
      mat-list-item
      class="list-item"
      [routerLink]="['/albums']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Albums
    </a>
    <a
      mat-list-item
      class="list-item"
      [routerLink]="['/songs']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Songs
    </a>
    <a
      mat-list-item
      class="list-item"
      [routerLink]="['/users']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Users
    </a>
    <a
      mat-list-item
      class="list-item"
      [routerLink]="['/admins']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Admins
    </a>
    <a
      mat-list-item
      class="list-item"
      [routerLink]="['/plans']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Plans
    </a>

    <!-- <app-dropdown-tree
      [nodeDate]="attendanceInsightNodeData"
    ></app-dropdown-tree> -->

    <!-- <app-dropdown-tree [nodeDate]="setupNodeData"></app-dropdown-tree>

    <app-dropdown-tree
      [nodeDate]="officeManagementNodeData"
    ></app-dropdown-tree> -->
  </mat-nav-list>
</div>
