<mat-form-field>
  <mat-label>Enter password</mat-label>
  <!-- <input
    matInput
    placeholder="pat@example.com"
    [formControl]="email"
    (blur)="updateErrorMessage()"
    required
  />
  @if (email.invalid) {
  <mat-error>{{ errorMessage }}</mat-error>
  } -->
  <input
    matInput
    type="password"
    placeholder="password"
    [formControl]="password"
    (blur)="updateErrorMessage()"
    required
  />
  @if (password.invalid) {
  <mat-error>{{ errorMessage }}</mat-error>
  }
</mat-form-field>
