<!-- <mat-drawer-container class="layout-container" autosize> -->
<!-- <mat-drawer #drawer class="layout-sidenav" mode="side" opened>
    <app-side-nav></app-side-nav>
  </mat-drawer> -->
<div
  class="layout-container-wrapper"
  [class.layout-is-mobile]="mobileQuery.matches"
>
  <mat-sidenav-container
    class="layout-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      opened="{{ mobileQuery.matches ? false : true }}"
    >
      <app-side-nav></app-side-nav>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-top-bar
        [toggle]="toggleDrawer.bind(this)"
        class="top-bar"
      ></app-top-bar>
      <div class="layout-content p-3">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<!-- </mat-drawer-container> -->
